NEXT_PUBLIC_CHAIN_ID=bwick-1
NEXT_PUBLIC_RPC_ENDPOINT=http://167.99.147.85/rpc
NEXT_PUBLIC_REST_ENDPOINT=http://167.99.147.85/rest
NEXT_PUBLIC_BWICK_RPC=http://167.99.147.85/rpc
NEXT_PUBLIC_BWICK_REST=http://167.99.147.85/rest
NEXT_PUBLIC_BWICK_DENOM=ubwick
NEXT_PUBLIC_BWICK_DECIMALS=6
NEXT_PUBLIC_BWICK_TREASURY=bwick1x20cudlvuqqdlsdwgfwhdv9t32jzqkwzmsvyj8
NEXT_PUBLIC_ORACLE_ENDPOINT=http://167.99.147.85/oracle
